<app-seller [seller]="seller" (saveEmitter)="saveSeller($event)"></app-seller>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Salary</th>
            <th scope="col">Bonus</th>
            <th scope="col">Gender</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let seller of sellers">
            <th scope="row">{{seller.id}}</th>
            <td>{{seller.name}}</td>
            <td>{{seller.salary}}</td>
            <td>{{seller.bonus}}</td>
            <td>{{seller.gender == 1? 'Female': 'Male'}}</td>
          </tr>
        </tbody>
      </table>
</div>