<div class="container mt-5 mb-5">
    <div class="display-5 mb-5" >
        <span *ngIf="!seller.id" >Novo </span>
        <span *ngIf="seller.id">Atualizar </span>
        <span>vendedor</span>
    </div>
    <form [formGroup]="forms" #ngForms="ngForm">
        <div class="row mb-3 mt-3">
            <div class="col-12" *ngIf="seller.id">
                <label for="inputId" class="form-label">ID:</label>
                <div class="col">
                    <input type="text" class="form-control" name="id" id="inputId" formControlName="id" readonly>
                </div>
            </div>
            <div class="col-6">
                <label for="inputName" class="form-label">Nome:</label>
                <div class="col">
                    <input type="text" class="form-control" name="name" id="inputName" formControlName="name">
                </div>
                <div *ngIf="ngForms.submitted">
                    <small *ngIf="validName?.errors?.['required']" class="text text-danger">Nome é requerido!</small>
                    <small *ngIf="validName?.errors?.['minlength']" class="text text-danger">Caracteres mínimos =
                        5!</small>
                </div>
            </div>
            <div class="col-6">
                <label for="inputSalary" class="form-label">Salário:</label>
                <div class="col">
                    <input type="text" class="form-control" name="salary" id="inputSalary" formControlName="salary" >
            
                </div>
                <div *ngIf="ngForms.submitted">
                    <small *ngIf="validSalary?.errors?.['required']" class="text text-danger">Salário é
                        requerido!</small>
                    <small *ngIf="validSalary?.errors?.['min']" class="text text-danger">Salário não pode ser
                        negativo!</small>
                </div>
            </div>
            <!--//TODO colocar uma mascara para ficar mais legal-->
        </div>

        <div class="row mb-3 mt-3">
            <div class="col-6">
                <label for="inputBonus" class="form-label">Bonus:</label>
                <div class="col">
                    <input type="number" class="form-control" name="bonus" id="inputBonus" formControlName="bonus">
                </div>
                <div *ngIf="ngForms.submitted">
                    <small *ngIf="validBonus?.errors?.['min']" class="text text-danger">Bonus não pode ser
                        negativo!</small>
                    <small *ngIf="validBonus?.errors?.['max']" class="text text-danger">Bonus max = 100%</small>
                    <small *ngIf="validBonus?.errors?.['required']" class="text text-danger">Bonus não pode ser
                        vazio!</small>

                </div>
            </div>
            <div class="col-6">
                <label for="inputBonus" class="form-label">Sexo:</label>
                <select class="form-select" aria-label="Default select example" formControlName="gender">
                    <option value=0>Masculino</option>
                    <option value=1>Feminino</option>
                </select>
                <div *ngIf="ngForms.submitted">
                    <small *ngIf="validGender?.errors?.['required']" class="text text-danger">Sexo é requerido!</small>
                </div>

            </div>
     
        </div>



        <button type="submit" class="btn btn-primary me-1" (click)="save()">Salvar</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
    </form>
</div>

